/.idea
cache/*
logs/*
/proxies
settings.local.php
/vendor
/composer.lock
/www/docs
/config/*.priv
/config/*.pub
userfiles/*
*.db
cache/*
logs/*
*.sublime*
components/config.host_specific.php
test.php
.htaccess
.project
deploy.php
vendor
temp/*
admin/loader-cache/*
config.local.neon
